@model Contrib.PasteImport.ViewModels.PasteImportViewModel

@{ 
    Layout.Title = T("Paste").ToString();
    
    if (Model.RecipeJournal != null)
    {
        <div>
            <h4>Result</h4>
            <div>Status: @Model.RecipeJournal.Status.ToString()</div>
            @foreach(var message in Model.RecipeJournal.Messages)
            {
                <div>@message.Message</div>
            }
        </div>
    
        <br/>
    }
    
    using (Html.BeginFormAntiForgeryPost(Url.Action("Paste", new { }), FormMethod.Post)) {
        @Html.ValidationSummary();
        <fieldset>
            <h4>Recipe</h4>
            @Html.TextAreaFor(m => m.RecipeSteps, new { spellcheck = "false" })
        </fieldset>
        <button type="submit" class="primaryAction">@T("Import")</button>
    }
}
